h2 {
  font-size: 20px;
}

.myinfo {
  position: relative;
  top: 250px;
  left: 80px;
  width: 500px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a.nav-link {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

video {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -2;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
}
