:root {
  --primary-color: #542663;
  --text-color: #f5f2fe;
  --hero-background: rgba(116, 39, 116, 0.342);
  --box-shadow: 0 5px 10px rgba(123, 104, 136, 0.541);
  --heading-font-family: "Vollkorn", serif;
  --default-font-family: "Poppins", sans-serif;
  --link-font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--text-color);
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}

.my-photo {
  margin: auto;
}

.hero {
  background: var(--hero-background);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
  font-family: var(--default-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  color: rgba(248, 141, 248, 0.815);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.project-description {
  padding: 20px 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: var(--link-font-family);
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 27px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--link-font-family);
}

.primary-link:hover {
  color: var(--primary-color);
  background-color: #ffffffde;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .project-description {
    padding: 0;
  }
}

video {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -2;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
}
